body {
    width: 100%;
    margin: 0;
}

form {
    width: 100%;
}

.form-group{
    width: 100%;
}

.toolbar {
    display: flex;
    justify-content: flex-start;
}


/* Media query for screens with width >= 600px */
@media (min-width: 600px) {
    .toolbar {
        justify-content: center;
    }
    form {
        width: 30%;
    }
    
    .form-group{
        width: 100%;
    }
   
}

@media (max-width: 600px) {
    
    form {
        width: 100%;
    }
    
    .form-group{
        width: 100%;
    }
    label, small,input, select {
        margin-left: 16px;
        padding-right: 16px;
    }
  
  }
  
 